.footer{
    background-color: black;
    color: rgb(194, 187, 187);
    margin-top: 150px;
}
.foot{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    width:313px;
}
.title{
    color:white
}
button{
    background-color: blue;
    border-color: blue;
    margin-left: 5px;
    color:white;
}
.icon{
   size:2px;
}
.image{
    height: 25px;
    width: 25px;
}
.image12{
    margin-left: 5px;
}
.image1{
    height: 25px;
    width: 40px;
}
h5{
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.box{
    display: none;
}
@media(min-width:800px){
    #box7{
        display:block;
    }
}
@media(max-width:450px){
    #box8{
        display:block;
    }
}